{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block home %}active{% endblock %}

{% block main %}
                <div class="container-fluid px-0 header d-flex justify-content-center align-items-center">
                    <div class="row w-100">
                        <h1 class="display-1">Welcome</h1>
                        <h3>Discover and Collect Your Favorite Movies with WatchToDo</h3>
                        <form action="/result" method="post" class="row g-3 justify-content-center">
                            <div class="col-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-100" id="search" name="search" placeholder="Search for movies" type="text">
                            </div>
                            <div class="col-auto">
                                <button class="btn" type="submit">Search</button>
                            </div>
                        </form> 
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row gx-5">
                        <div class="mb-3 mt-5"><h1>Now Playing</h1></div>
                        {% for i in playing %}
                        <div class="col-3">
                            <form action="/detail" method="post">
                                <button class="movieButton" type="submit">
                                    <input type="hidden" name="id" value="{{ i['id'] }}">
                                    <img class="rounded mt-5 w-75 " src="https://image.tmdb.org/t/p/w500/{{ i['poster_path'] }}" alt="Full-Size Cover" onerror="this.onerror=null;this.src='{{ url_for("static", filename="placeholder.png") }}';">
                                    <h5 class="mt-3 mb-0 text-light">{{ i["title"] }}</h5>
                                    <p class="mt-1 text-light">{{ i["release_date"] }}</p>
                                </button>    
                            </form>           
                        </div>
                        {% endfor %}
                        <div class="mb-3 mt-5"><h1>Trending</h1></div>
                        {% for i in trending %}
                        <div class="col-3">
                            <form action="/detail" method="post">
                                <button class="movieButton" type="submit">
                                    <input type="hidden" name="id" value="{{ i['id'] }}">
                                    <img class="rounded mt-5 w-75 " src="https://image.tmdb.org/t/p/w500/{{ i['poster_path'] }}" alt="Full-Size Cover" onerror="this.onerror=null;this.src='{{ url_for("static", filename="placeholder.png") }}';">
                                    <h5 class="mt-3 mb-0 text-light">{{ i["title"] }}</h5>
                                    <p class="mt-1 text-light">{{ i["release_date"] }}</p>
                                </button>    
                            </form>           
                        </div>
                        
                        {% endfor %}
                        <div class="mb-3 mt-5"><h1>Popular</h1></div>
                        {% for i in popular %}
                        <div class="col-3">
                            <form action="/detail" method="post">
                                <button class="movieButton" type="submit">
                                    <input type="hidden" name="id" value="{{ i['id'] }}">
                                    <img class="rounded mt-5 w-75 " src="https://image.tmdb.org/t/p/w500/{{ i['poster_path'] }}" alt="Full-Size Cover" onerror="this.onerror=null;this.src='{{ url_for("static", filename="placeholder.png") }}';">
                                    <h5 class="mt-3 mb-0 text-light">{{ i["title"] }}</h5>
                                    <p class="mt-1 text-light">{{ i["release_date"] }}</p>
                                </button>    
                            </form>           
                        </div>
                        
                        {% endfor %}             
                    </div>
{% endblock %}